.material-icons{
    margin-right: 0px;
    cursor: pointer;
   }
   
   .search{
    width: 650px;height:40px ;
     border-radius: 1rem;
    margin-left: 3rem;
    box-shadow: 10px;
   }

  
  
input{
    border-top-style: hidden;
    border-right-style:10% ,black;
    border-left-style: 10%,black;
    border-bottom-style: hidden;
  }