

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
        
       </div>
    </div>
  
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
       <app-sidebar></app-sidebar>
        </div>
        
        <div class="col-md-10 mt-2">
            <router-outlet></router-outlet>
           
             </div>
    
    
    <div>
      <app-compose></app-compose>
    </div>
    
      </div>
    </div>
   
  
     