<nav class="navbar navbar-expand-lg navbar-light bg-light m-auto">
  <a class="navbar-brand" href="#"><img class="mr-2" src="../../../../assets/Logo.png"
      style="width: 50px; height: 45px;">A-Mail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">







    <ul class="navbar-nav ml-auto nav-flex-icons">


      <li class="nav-item">

        <a class="nav-link" routerLink="register" (click)="register()">Register</a>

      </li>
      <li class="nav-item mr-4">

        <a class="nav-link" routerLink="login" (click)="login()">Login</a>

      </li>


    </ul>
  </div>
</nav>

<!--div class="row mt-4">
        <div class="col-md-4">
          <h3>Compose Your Emails</h3>
          <img  class="img-fluid  mr-5" src="../../../assets/mail3.jpg" alt=" image" style = "height: 450px;">
        </div>
        <div class="col-md-4">
          <h3>Edit Your Emails</h3>
          <img  class="img-fluid  mr-5" src="../../../assets/ofc.jpg" alt=" image" style = "height: 450px;">
        </div>
        <div class="col-md-4">
          <h3>Delete Your Emails</h3>
          <img  class="img-fluid  mr-5" src="../../../assets/edit.jpg" alt=" image" style = "height: 450px;">
        </div>
      </div-->
<mat-card class="home">
  <mat-card-content>
    <div class="row">
      <div class="col-md-6 sideImg">
        <!-- <img  class="img-fluid  mr-3" src="../../../../assets/undraw_message_sent_1030.png" alt=" image" style = "height: 500px; width: 800px;;"> -->
      </div>
      <div class="col-md-6 mt-3">
        <h1 class="a my-3">Auto Email Reply Generator </h1>

        <!--h1 class= "ml-4" style="font-family:Verdana, Geneva, Tahoma, sans-serif">Mail Serve With Edit Mail Feature !</h1-->
        <div class="text">
          <p class="mt-3"> System will mostly help in official work.
            Our main purpose is to save the user's
            time by composing new mails that the user sent already.
             If user needs to send the same email
            again then user will just search the mail through subject then if the email is already
            exist then the system will generate its body automatically
            will placed in composer then user can edit that email and send that email again.
          </p>



        </div>





      </div>

    </div>
    <!-- <p class="h3 mb-2" style="text-align: center; font-family: 'Calistoga', sans-serif; font-size: 30px;" >Features</p>
           <div class="row mt-5">
             <div class="col-4">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Reliablity </mat-card-title>
                
                </mat-card-header>
                <img class="img-fluid" src="../../../assets/reliable.png" alt="secureity">
                <mat-card-content>
                  <p>
                  Our Email server  will provide more reliablity .So that the services
                   of this email server will always be present for our user. 
                  </p>
                </mat-card-content>
             
              </mat-card>
              
             </div>
             <div class="col-4">
              <mat-card class="example-card" >
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Fast </mat-card-title>
                
                </mat-card-header>
                <img class="img-fluid" src="../../../assets/fast.png" alt="secureity" style="height: 300px;">
                <mat-card-content>
                  <p>
                    Our Email server  will deliver all the emails fast.so that user
                     don't have to wait for a long time to send the emails.
                  </p>
                </mat-card-content>
             
              </mat-card>
              
             </div>
             <div class="col-4">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Security </mat-card-title>
                
                </mat-card-header>
              <img class="img-fluid" src="../../../assets/secure.png" alt="secureity">
                <mat-card-content>
                  <p>
                   Our Email server will provide high security. Unauthorized or malaceous user can't
                    see the confidential information of our user.
                  </p>
                </mat-card-content>
             
              </mat-card>
              
             </div>
           </div> -->
  </mat-card-content>

</mat-card>