<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">


           
          <mat-card class="reset">
<form [formGroup]="resetForm" (ngSubmit)="save()"  >

    <p class="h4 mb-4">Reset Password </p>
    <div *ngIf="error" class="text-danger">
      {{error}}
     </div>
     <div *ngIf="message" class="text-success">
      {{message}}
     </div>

   

    <!-- password -->
    <mat-card-content>

      <mat-form-field  class="input"  appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
       </mat-form-field>
  
       <div *ngIf="password.invalid && password.touched" >
        <small *ngIf = "password.errors.required" class = "text-danger"> Password is required</small>
        <small *ngIf = "password.errors.minlength" class = "text-danger"> Minimum length should be at least 6 characters</small>
      </div>
<!-- Confirm password ............................................................-->

      <mat-form-field  class="input"  appearance="standard">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirm_password" required>
         </mat-form-field>
    
         <div *ngIf="confirm_password.invalid && confirm_password.touched" >
          <small *ngIf = "confirm_password.errors.required" class = "text-danger"> Confirm Password is required</small>
          <small *ngIf = "confirm_password.errors.minlength" class = "text-danger"> Minimum length should be at least 6 characters</small>
          <small *ngIf="confirm_password.errors?.mustMatch" class = "text-danger">Password and confirm password should match</small>
        </div>
       
     
      
      </mat-card-content>

   

    <!-- Sign in button  [disabled]="!resetForm.valid" -->   
  <mat-card-actions>
    <button mat-raised-button  type="submit"  class="sub  btn-info btn btn-lg"
     [disabled]="!resetForm.valid">
     Reset Password<i class="material-icons right ml-1">send</i></button>
    </mat-card-actions>
  
  
</form>
</mat-card>
 
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

    